body {
  margin: 0;
  padding-top: 80px;
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}
header {
  background-color: white;
  color: black;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5%;
  box-sizing: border-box;
}
#logo {
    width: 80px;
    height: 60px;
   
}
#menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: 400;
  font-size: 24px;
}

button {
  margin-top: 25px;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #fff;
  color: #000;
}

.assinatura {
  margin-top: 40px;
  font-size: 12px;
  opacity: 0.6;
}
footer {
    background-color: white;
    float: left;
    width: 100%;
    color: black;
}
